{% extends "base.jinja2" %}
{% block title %}Olvidé mi contraseña{% endblock %}
{% block content %}
<h1>Olvidé mi contraseña</h1>
<form method="post" action="{{ url_for('views.forgot_password_view') }}">
  <label>Email
    <input type="email" name="email" required />
  </label>
  <button type="submit">Enviar enlace de reseteo</button>
</form>
{% endblock %}